{% extends "pageTemplate.html" %}

{% block content %}

<h1>Welcome to Group 17 database interface</h1>
<p>This project extensively captures several bits of information about Pokemon
    and the Pokemon universe. The data for this interface includes Pokemon from generation
    1-9.
</p>
<h3>Games included:</h3>
<ul>
    <li>Red/Blue</li>
    <li>Yellow</li>
    <li>Gold/Silver</li>
    <li>Crytal</li>
    <li>Ruby/Sapphire</li>
    <li>Emerald</li>
    <li>Diamond/Pearl</li>
    <li>Platinum</li>
    <li>Black/White</li>
    <li>X/Y</li>
    <li>Sun/Moon</li>
    <li>Sword/Shield</li>
    <li>Scarlet/Violet</li>
</ul>


{% endblock %}