{% extends "pageTemplate.html" %}

{% block content %}

<h1>All Trainers </h1>

<table id="Trainers" class="table table-hover">
    <thead>
        <th scope="col">Name</th>
    </thead>
    <tbody style="overflow: auto;">
        {% for tr in Trainers%}
        <tr>
            <td>{{tr[0]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#Trainers').DataTable({
            columns: [
                { data: 'Name', searchable: true }
            ],
        });
    });
</script>

{% endblock %}