{% extends "pageTemplate.html" %}

{% block content %}

<h1>List of all Types</h1>

<table id="Types" class="table table-hover">
    <thead>
        <th scope="col">Type Name</th>  
    </thead>
    <tbody style="overflow: auto;">
        {% for row in Types %}
        <tr>
            <td>{{row[0]}}</td>
  
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#Types').DataTable({
            columns: [
                { data: 'Type Name', searchable: true },
            ],
        });
    });
</script>

{% endblock %}